<meta charset="UTF-8">

<% if (locals.userId) { %>
  <!-- user is logged in -->
  <a>
    <%= userId %>
    <form action="/logout" method="POST">
    <input type="submit" value="Logout">
    </form>
  </a>
<!-- user needs to register or login -->
 <% } else { %>
   <h1>
     <!-- login form -->
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  </h1>
<% } %>
