<meta charset="UTF-8">

<% if (username) { %>
  <a>
    <%= username %>
    <form action="/logout" method="POST">
    <input type="submit" value="Logout">
    </form>
  </a>

 <% } else { %>
   <h1>
    <form action="/login" method="POST">
    <input type="text" name="username">
    <input type="submit" value="Submit">
    </form>
  </h1>
<% } %>
