<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <header>
      </form>
      <form action="http://localhost:8080/register">
      <input type="submit" value="Register"/>
      </form>
    </header>
    <h1>Login into your account</h1>
    <p>
      <form action="/login" method="POST" style="margin:100px;">
      <label for="email">Email:</label>
      <input type="email" name="email" placeholder="iron_man@marvel.com" style="width: 200px">
    </p>
    <p>
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="Password" style="width: 200px">
      <input type="submit" value="Login">
    </p>
      <p>


      </p>
  </body>
</html>
