<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <h1>Create an Account</h1>
    <p>
      <form action="/register" method="POST" style="margin:150px;">
      <label for="email">Email:</label>
      <input type="email" name="email" placeholder="iron_man@marvel.com" style="width: 200px">
    </p>
    <p>
      <label for="password">New password:</label>
      <input type="password" name="password" placeholder="Password" style="width: 200px">
    </p>
      <p><input type="submit" value="Submit"></p>
      </form>
  </body>
</html>
